.MonsterDiv{
    width: 100%;
    height: 100vh;
    text-align: center;
    background-color: rgb(41, 44, 53);
    padding: 200px 0px;
}

.PlayersActionContainer{
    width: auto;
    height: 400px;
    padding: 10px 20px;
    margin-left: 50px;
    margin-right: 50px;
    border-radius: 10px;
    border: 3px solid #22252a;
    
}
.PlayersContainer {
    width: 100%;
    height: 100px;
}
.ActionsContainer {
    width: auto;
    height: 100px;
    background-color:aqua
}
.ActionLogContainer {
    width: auto;
    height: 200px;
    background-color: #222529;
    margin-bottom: 0px;
}
.PlayerHealth {
    width: 80%;
    height: 20px;
    background-color: #408559;
    border-radius: 3px;
    color: black;
}
.PlayerType{
    font-size: medium;
    font-weight: bold;
    color: white;
    width: 100%;
    margin: 10px 0px;
    padding: 10px 0px;
}

.PlayerContainerLeft {
    font-size: medium;
    font-weight: bold;
    color: white;
    width: 50%;
    height: 100%;
    float: left;
    border-radius: 4px;
}
.MonsterContainerRight {
    font-size: medium;
    font-weight: bold;
    color: white;
    width: 50%;
    height: 100%;
    float: right;
    border-radius: 4px;
}