.monster-container{
    width: 100%;
    height: 100vh;
    text-align: center;
    background-color: rgb(41, 44, 53);
    padding: 200px 0px;
}

.players-action-container{
    width: auto;
    height: 350px;
    padding: 10px 20px;
    margin-left: 50px;
    margin-right: 50px;
    border-radius: 10px;
    border: 3px solid #22252a;
    
}
.players-container {
    width: 100%;
    height: 100px;
}
.actions-container {
    width: auto;
    height: 50px;
}
.action-log-container {
    width: auto;
    max-height: 170px;
    background-color: #222529;
    margin-bottom: 0px;
    margin-top: 30px;
    overflow-y: scroll;
    
}
.player-health {
    width: 80%;
    height: 20px;
    background-color: #408559;
    border-radius: 3px;
    color: black;
}
.player-type{
    font-size: medium;
    font-weight: bold;
    color: white;
    width: 100%;
    margin: 10px 0px;
    padding: 10px 0px;
}

.player-container-left {
    font-size: medium;
    font-weight: bold;
    color: white;
    width: 50%;
    height: 100%;
    float: left;
    border-radius: 4px;
}
.monster-container-right {
    font-size: medium;
    font-weight: bold;
    color: white;
    width: 50%;
    height: 100%;
    float: right;
    border-radius: 4px;
}
.attack{
    background-color: #EA8777;
}
.specialAttack{
    background-color: #F2A93D;
}
.heal{
    background-color: #56B3B6;
}
.giveUp{
    background-color: #EA33F7;
}
.button{
    width: auto;
    height: 40px;
    color: black;
    margin-left: 20px;
    font-size: medium;
    font-weight: bold;
    border-radius: 3px;
    border: 0px;
    padding: 0px 20px;
}
.no-log{
    padding: 60px 30px;
    color: white;
    font-size: x-large;
    font-weight: 300;
}
.log-text{
    font-size: medium;
    color: white;
    padding-top: 10px;
}
